.boxInput {
  height: fit-content;
  margin-top: 0.3rem;
  display: flex;
}

.inputDescription {
  background-color: var(--element-black);
  border-bottom: 2px solid rebeccapurple;
  color: var(--text);
  width: 400px;
  height: 90px;
  font-size: 0.85rem;
  font-family: var(--button-font);
  font-weight: bold;
  padding: 0.5rem;
  resize: none;
}

.inputDescription::-webkit-scrollbar {
  width: 10px;
}

.inputDescription::-webkit-scrollbar-track {
  background: transparent;
}

.inputDescription::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.3rem;    
}