.viewerCommit {
  /* border: solid 2px var(--label); */
  background-color: var(--element-black);
  box-shadow: var(--shadow-elevation-high);
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  width: 90vw;
  height: fit-content;
  position: sticky;
  top: 10px;
  display: flex;
  justify-content:space-between;
  gap: 1rem;
}

.viewerCommit #commit {
  word-wrap: break-word;
}

.containerCommit {
  /* border: solid 2px var(--label); */
  width: 80%;
  height: fit-content;
}

.copyComponent {
  /* border: solid 2px var(--label); */
  text-align: center;
}

.copyComponent p {
  color: yellow;
  font-family: var(--button-font);
  animation: var(--fade-in);
}

.buttonCopy {
  background-color: rebeccapurple;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;
  color: var(--text);
  font-family: var(--button-font);
  font-weight: bold;
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonCopy:hover {
  background-color: var(--label);
}