.viewerCommit {
  /* border: solid 2px rebeccapurple; */
  background-color: var(--element-black);
  box-shadow: var(--shadow-elevation-high);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  width: 90vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content:space-between;
  gap: 1rem;
}

.buttonCopy {
  background-color: rebeccapurple;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--text);
  font-family: var(--button-font);
  font-weight: bold;
  letter-spacing: 0.7px;
}