.viewerCommit {
  /* border: solid 2px rebeccapurple; */
  background-color: var(--element-black);
  box-shadow: var(--shadow-elevation-high);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 90vw;
  height: 100px;
  position: sticky;
  top: 0;
}