.labelScope {
  background-color: var(--element-black);
  padding: 0.5rem;
  border-radius: 0.3rem;
  height: 40px;
  color: var(--label);
  cursor: pointer;
  animation: var(--fade-in);
}

.labelScope--selected {
  border: solid 2px rebeccapurple;
  color: var(--text);
}

.buttonCloseScope {
  margin-left: 0.6rem;
  color: var(--label);
}