.containerScopes {
  /* border: solid 2px green; */
  border-left: 2px solid var(--label);
  width: 45vw;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.boxScopes {
  border: solid 2px var(--label);
  border-radius: 0.3rem;
  width: 50%;
  height:fit-content;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  /* align-items: start; */
  justify-content: center;
  gap: 0.5rem;
}
