.optionEmoji {
  background-color: var(--element-black);
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 130px;
}

.labelDefinition {
  /* border: solid 2px red; */
  margin-top: 0.5rem;
  font-family: var(--button-font);
  font-size: 0.84rem;
  color: var(--label);
}