.head {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.head p {
  border-bottom: 2px solid var(--label);
  padding-bottom: 0.3rem;
}

.head span {
  cursor: help;
}

.react-tooltip {
  max-width: 300px;
  height: fit-content;
}

/* Movil */
@media screen and (max-width: 767px) {
  .react-tooltip {
    max-width: 200px;
  }
}