.containerMain {
  /* border: solid 2px magenta; */
  border-bottom: solid 1px var(--label);
  display: flex;
}

.containerInputs {
  /* border: solid 2px red; */
  width: 90vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 4rem;
  gap: 1rem;
}

.boxInput {
  /* border: solid 2px green; */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.inputDescription {
  /* border: solid 2px slateblue; */
  border-radius: 0.3rem;
  width: 400px;
  height: 40px;
  font-size: 0.85rem;
  padding: 0.4rem;
}

.inputDescription:focus {
  border: solid 2px rebeccapurple;
}

.inputBody {
  /* border: solid 2px red; */
  width: 600px;
  height: 40px;
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 0.85rem;
}

.buttonCleanInputs {
  background-color: rebeccapurple;
  height: 60px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--text);
  font-family: var(--button-font);
  font-weight: bold;
  letter-spacing: 0.7px;
  cursor: pointer;
}