@import url('https://fonts.googleapis.com/css2?family=Hind&family=Khand:wght@700&family=Lato&display=swap');

:root {
  /*  Fonts */
  --text-font: 'Lato', sans-serif;
  --button-font: 'Hindi', sans-serif;

  /* Texts Color */
  --text: #e4e4e4;
  --label: #908E9B;

  /* Elements Color */
  --element-black: #202020;
  --principal-color: #3a0ca3;
  --secondary-color: #9932cc;
  --solid-background: #151515;
  --degraded-background: linear-gradient(to right, var(--principal-color), var(--secondary-color));

  /*  Animations */
  --fade-in: fadeIn 1s ease 0s 1 normal;

  /* Shadows  */
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-high:
  0px 0.2px 0.3px hsl(var(--shadow-color) / 0.04),
    -0.1px 4px 5.7px -0.1px hsl(var(--shadow-color) / 0.09),
    -0.3px 8px 11.4px -0.2px hsl(var(--shadow-color) / 0.15),
    -0.5px 14.7px 21px -0.4px hsl(var(--shadow-color) / 0.21),
    -0.9px 26.6px 37.9px -0.5px hsl(var(--shadow-color) / 0.27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  border: none;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--solid-background);
  color: var(--text);
  font-family: var(--text-font);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  animation: var(--fade-in);
  /* border: solid 2px red; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}