.sectionScope {
  border-radius: 0.3rem;
  /* width: 45%; */
  height:fit-content;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.content {
  /* border: solid 2px var(--label); */
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.head {
  display: flex;
  gap: 0.5rem;
}

.sectionScope .head input {
  text-indent: 10px;
  border-radius: 0.3rem;
}

.sectionScope .head button {
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
  background-color: rebeccapurple;
  color: var(--text);
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.3s;
  cursor: pointer;
}

.sectionScope .head button:hover {
  background-color: var(--label);
}